.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-color: purple;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 20px;
}

.search-container {
  position: relative;
}

.search-input {
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 36px;
  width: calc(100% - 45px);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-button {
  width: 180px;
  height: 36px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  position: relative;
}

.search-button i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: inline-block;
  width: 120px;
}

.form-group input,
.form-group button {
  width: calc(100% - 120px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: calc(50% - 5px);
}

.add-transaction-button {
  width: 100%;
}

.transaction-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-column {
  text-align: center;
}
.transaction-form-container {
  white-space: nowrap; 
}

.form-group {
  display: inline-block;
  margin-right: 10px; 
}

.form-group:last-child {
  margin-right: 0; 
}

